.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    position: absolute;
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    right: 130px;
    top: 200px;
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}


.resp-sharing-button--facebook {
    right: 130px;
    top: 280px;
    background-color: #404959
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}



.resp-sharing-button--email {
    right: 130px;
    top: 360px;
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}



.resp-sharing-button--facebook {
    background-color: #B3AEBF;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #B3AEBF;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #B3AEBF;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #A67280;
    border-color: #A67280;
}
@media(max-width:1200px){
    .resp-sharing-button {
        right: 80px;
    }
}

@media(max-width:820px){
    .resp-sharing-button__icon svg {
        width: 1.3em;
        height: 1.3em;
    }
    .resp-sharing-button {
        right: 60px;
    }
}
@media(max-width:600px){
    .resp-sharing-button {
        top: 18%;
    }
    .resp-sharing-button--twitter{
        right: 30%;
    }
    .resp-sharing-button--facebook{
        right: 20%;
    }
    
}
