.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}

.flex-items{
    background-color: black;
    width: 150px;
    height: 150px;
    margin-top: 8px;
    color: beige;
    text-align: center;
    font-size: 50px
}