body {
    display: block;
    background-image: url(images/whitepaper.png);
    color: black;
    font-size: 20px;
    margin: 0;
    font-family: gotham;
    padding-left: 15%;
    padding-right: 15%;
}

@font-face {
    font-family: gotham;
    src: url(Gotham-XLight.ttf);
}

@font-face {
    font-family: brush;
    src: url(LeviReBrushed_copy.ttf);
}

.main-button {
    font-family: gotham;
    padding: 10px;
    font-weight: bolder;
    font-size: 28px;
}

.container-header {
    position: relative;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #AFA9BC;
    position: fixed;
    display: grid;
    grid-template-columns: 23% 55% 25%;
    z-index: 100;
}

.top-right {
    padding-top: 25px;
    color: white;
}

.logo {
    position: relative;
    top: 10px;
    left: 20px;
    text-decoration-line: none;
    font-family: brush;
    font-size: 50px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 2px 2px #B8B683;
}

nav {
    font-family: fantasy;
    text-align: center;
    position: fixed;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav li {
    display: inline;
    text-decoration-line: none;
    cursor: pointer;
    margin-top: 0;
}

nav a {
    color: white;
    text-decoration-line: none;
    font-size: 24px;
    padding: 10px;
}

a:hover {
    color: black;
}

a {
    text-decoration-line: none;
    color: inherit;
}

ul {
    list-style: none;
}

ul a {
    margin-top: 0;
    height: 0px;
}

h1 {
    margin-top: 0px;
    padding: 50px;
}

#about {
    position: relative;
    padding-top: 170px;
    height: 600px;
    width: 100%;
    margin-bottom: 120px;
}

#title {
    color: #B7B276;
    margin: 0px;
    font-size: 70px;
    font-weight: bold;
    width: 100%;
    font-family: fantasy;
}

#slogan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 90%;
    min-width: 760px;
    z-index: -1;
}

#author {
    width: 100%;
    color: #B8B683;
    font-size: 32px;
}
#news {
    padding-left: 0px;
    display: flex;
    height: 800px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}

#abstract {
    min-height: 740px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    margin-bottom: 190px;
}

.container-articles {
    display: flex;
    width: 100%;
    padding-right: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    border-spacing: inherit;
    padding: 0px;
    width: 90%;
}


#visibility {
    visibility: hidden;
}

.nav-bar {
    border-bottom-width: medium;
    width: 100%;

}

#box {
    width: 400px;
    height: 240px;
    position: relative;
    margin-bottom: 75px;
}

#box div {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 75%;
    background: .#fff;
    backface-visibility: hidden;
    transition: all 2s;
}

#box .front {
    display: flex;
    justify-content: center;
    align-items: Center;
    padding: 25px;
    font-size: 30px;
    text-align: center;
    background: #B8B683;
    border-radius: 30px;
}

#box .back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    background: #AFA9BC;
    border-radius: 30px;
    transform: rotateY(-180deg);
}

#box:hover .front {
    transform: rotateY(-180deg);
}

#box:hover .back {
    transform: rotateY(-360deg);
}

@media (max-width: 1000px) {
    body {
        display: block;
        padding-left: 0%;
        padding-right: 0%;
    }

    p {
        width: 400px;
    }

    .container-header {
        position: fixed;
        display: flex;
    }

    .logo {
        color: #24315B;
        position: absolute;
        left: 20px;
        font-size: 28px;
        height: 79px;
    }

    #visibility {
        visibility: visible;
        background-color: none;
    }


    ul {
        list-style: none;
    }

    /*list that has parent nav*/
    .nav > li {
        float: right;
        margin-right: 70px;
    }

    ul a {
        visibility: visible;
        display: block;
        text-decoration: none;
        width: 100px;
        height: 30px;
        text-align: center;
        padding-bottom: 15px;
        line-height: 50px;
        color: #24315B;
        opacity: 1;
        background-color: white;
    }


    .drop-down li a {
        font-size: 14px;
    }

    .drop-down-content {
        padding: 0;
        display: none;
    }

    .drop-down-content li:hover a {
        font-size: 18px;
    }

    .nav .drop-down:hover .drop-down-content {
        display: block;
    }

    #news {
        padding-top: 30px;
    }

    #box {
        width: 350px;
        height: 200px;
        position: relative;
        margin-bottom: 35px;
    }

    #abstract {
        padding-top: 30px;
    }

    .container-articles {
        width: 400px;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: space-around;
    }

    #bottom-illustrator {
        width: 250px;
        height: auto;
    }

    #slogan {
        justify-content: center;
    }
}
#contact-part{
    position: relative;
    top: 200px;
}

@media (max-width:1400px) {
    #title {
        font-size: 90px;
    }

    #slogan {
        justify-content: flex-start;
    }
}
